body{
    margin: 0;
}

.header{
    display: flex;
    background-color: #026637;
    width: 100%;
    height: 60px;
    align-items: center;
}

.header h1{
    display: flex;
    flex: 2;
    color:#FFF;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 80px;
    margin-top: 0;
    padding-top: 15px;
}

.header-btn{
    background: #4CB74D;
    color: #FFF;
    border: none;
    padding: 20px;
    margin-right: 100px;
}

.header-btn > a{
    color: #FFF;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.header-btn a:link, .header-btn a:visited {
    text-decoration: none;
}

.header-right{
    display: flex;
    flex: 4;
    justify-content: flex-end;
    margin-right: 80px;
}

.header-socialmedia{
    display: flex;
    align-items: center;
    padding: 8px;
}

.start-information{
    display: flex;
    justify-content: center;
    background-image: url("img/header.jpg");
    width: 100%;
    height: 400px;
}

.start-information h1{
    width: 900px;
    color:#FFF;
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 80px;
    margin: auto;
    text-align: center;
}

.missao{
    display: block;
    max-height: 500px;
	margin: 0 auto;
    margin: 0px;
    background-color: #4CB74D;
}

.missao h2{
    width: 100%;
    text-align: center;
    color: #026637;
    font-size: 36px;
    font-family: arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding-top: 40px;
}

.missao h3{
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin: 20px;
}

.missao-container{
    display: flex;
    max-width: 900px;
    justify-content: center;
    justify-items: center;
    margin: auto;
}

.missao-box{
    flex: 1;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    margin-bottom: 40px;
}


.causa h2{
    width: 100%;
    text-align: center;
    color: #026637;
    font-size: 36px;
    font-family: arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.causa{
    text-align: center;
    padding-bottom: 40px;
}

.download{
    display: block;
    text-align: center;
    background-color: #026637;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}

.download h2{
    width: 100%;
    text-align: center;
    color: #4CB74D;
    font-size: 36px;
    font-family: arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

.download-info{
    flex:1;
    margin: 0 auto;
    text-align: center;
    max-width: 560px;
}

.download-info a{
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 560px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.download-info img{
    display: block;
    margin: auto;
    padding-bottom: 10px;
    width: 5%;
    height: 5%;
}

.download-btn{
    background: #4CB74D;
    border: none;
    padding: 20px;
    color: #FFF;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    cursor: pointer;
    margin: 40px;
}

footer{
    background-color: #4CB74D;
    width: 100%;
    height: 60px;
    display: block;
}

.footer-newsletter input{
    background: #FFF;
    color: #026637;
    border: none;
    width: 360px;
    height: 40px;
    margin-top: 10px;
    padding: 0px;
    margin-left: 80px;
}


.newsletter-btn{
    background: #026637;
    color: #FFF;
    border: none;
    height: 40px;
    color: #FFF;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: none;
    margin: 0;
}